{% extends 'base.html' %}

{% block title %}
    Забыли пароль?
{% endblock %}


{% block sidebar %}
{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}  


	    <h2 class="font-weight-bold mt-3">Подтверждение сброса пароля</h2>
		<hr>
        <p>Введите новый пароль.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Сменить пароль</button>
        </form>


{% endblock %}