

<!doctype html>
<html lang="en">
<head>

    <link rel="icon" href="/static/img/main_icon.jpg" sizes="512x512">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>

    <title> Книгоед - Главная</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="/admin/" class="nav-link px-2 text-white">Admin</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/book_search/" method="get">
                <input type="search" class="form-control form-control-dark" name="name" placeholder="Поиск..." autocomplete="off">

            </form>

            <div class="text-end">
                <a class="btn btn-warning" href="/cart">
                    Корзина
                </a>
            </div>
            <span class="navbar-text">
            <a class="m-1 btn btn-primary" href="/accounts/profile/">Личный Кабинет</a><a class="m-1 btn btn-danger" href="/accounts/logout">Выход</a>

                 <a class="m-1 btn btn-primary" href="/accounts/login">Авторизация</a>
        </span>
        </div>
    </div>
</header>

{% verbatim %}

<div class="container mx-auto" id="order_app">

<h2 class="m-3">Ваши заказы</h2>
<template v-for="order in orders">
<a v-bind:href="'orders/?id=' + order.pk" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://www.bookvoed.ru/files/avatar/5.jpg" width="128" class="flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0">Заказ от {{ order.created_at }}</h6>
            <template v-if="order.in_order">
            <p class="mb-0 opacity-75" > Доставлен! </p>
            </template>
            <template v-else>
            <p class="mb-0 opacity-75" > Не доставлен! </p>
                </template>
            <template v-for="product in order.products">

               <h6 class="mt-1"> Книга - {{ product.name }}</h6>

                </template>
        </div>
        <small class="opacity-50 text-nowrap">{{ order.total_price }} р</small>
    </div>
</a>

</template>

</div>
{% endverbatim %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/cart.js"></script>
<script type="text/javascript" src="/static/js/orders.js"></script>

</body>
</html>