
<!doctype html>
<html lang="en">
<head>

    <link rel="icon" href="/static/img/main_icon.jpg" sizes="512x512">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>

    <title> Книгоед - Главная</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="/admin/" class="nav-link px-2 text-white">Admin</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/book_search/" method="get">
                <input type="search" class="form-control form-control-dark" name="name" placeholder="Поиск..." autocomplete="off">

            </form>

            <div class="text-end">
                <a class="btn btn-warning" href="/cart">
                    Корзина
                </a>
            </div>
            <span class="navbar-text">
           <a class="m-1 btn btn-primary" href="/accounts/profile/">Личный Кабинет</a><a class="m-1 btn btn-danger" href="/accounts/logout">Выход</a>

                 <a class="m-1 btn btn-primary" href="/accounts/login">Авторизация</a>
        </span>
        </div>
    </div>
</header>

{% verbatim %}
<div class="container mx-auto" id="cart_app">
    <template v-if="!cart_data">
        <h3 class="text-center mt-5 mb-5"> Ваша корзина пуста </h3>
    </template>
    <template v-else>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена</th>
                <th scope="col">Обновить кол-во</th>
                <th scope="col">Удалить</th>
                <th scope="col">Количество</th>
                <th scope="col">Общая цена</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, key, index) in cart_data">
                <th scope="row">{{ index }}</th>
                <td> <a v-bind:href="'/book_current/?id=' + key" class="p color-white text-decoration-none">{{ item.name }}</a></td>
                <td class="w-25">
                    <img v-bind:src="item.img" height="300">
                </td>
                <td>{{ item.price }} руб.</td>
                <td>
                    <input v-bind:id="'number '+key" type="number" class="form-control w-50" min="1" max="25" v-bind:value="item.qty">
                    <button v-bind:id="'update '+key" class="btn btn-warning">Обновить</button>

                </td>
                <td>
                    <button class="btn btn-danger" v-bind:id="'clear '+key">Удалить</button>
                </td>
                <td>{{ item.qty }}</td>
                <td>{{ item.total_price }} руб.</td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td>Итого:</td>
                <td>{{ order_data.total_qty }}</td>
                <td><strong> {{order_data.total_price}} руб.</strong></td>
            </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-danger" id="clear" >Очистить корзину</button>
            <a class="btn btn-primary me-md-2" href="/">В магазин</a>
            <a class="btn btn-primary" href="/create_order">Оформить заказ</a>

        </div>
    </template>

</div>

{% endverbatim %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/cart_reader.js"></script>
<script type="text/javascript" src="/static/js/cart.js"></script>

</body>
</html>