{% load static %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="/admin/" class="nav-link px-2 text-white">Admin</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/book_search/" method="get">
                <input type="search" class="form-control form-control-dark" name="name" placeholder="Поиск..." autocomplete="off">

            </form>

            <div class="text-end">
                <a class="btn btn-warning" href="/cart">
                    Корзина
                </a>
            </div>
            <span class="navbar-text">
           <a class="m-1 btn btn-primary" href="/accounts/profile/">Личный Кабинет</a><a class="m-1 btn btn-danger" href="/accounts/logout">Выход</a>

                 <a class="m-1 btn btn-primary" href="/accounts/login">Авторизация</a>
        </span>
        </div>
    </div>
</header>
